body 
{

}
h1
{
	color: red;
	text-align:center;
}
#textarea
{
	resize: none;
}
#form_post_div
{
	text-align: center;
	margin: auto;
	width: 75%;
	border: 1px solid blue; 
}

.blog
{ 
	margin: auto;
	text-align:center;
	width: 75%;
}

.post
{
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-width:1px;
	border-style:solid;
	border-color:black; 
}
#title_post
{
	font-size: 1.2em;
	font-weight: bold;
}
#message_post
{

}
#user_post
{

}
#date_post
{

}