#body_bg
{
    background-color: ghostwhite;
}
h1
{
	text-align: center;
}
#textarea
{
	resize: none;
}
#form_com_div
{
	text-align: center;
	margin: auto;
	width: 75%;
	border: 1px solid blue; 
}
#form_post_div
{
	text-align: center;
	margin: auto;
	width: 75%;
	border: 2px solid blue;
	box-shadow: 5px 5px lightblue;
	margin-bottom: 70px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.blog
{ 
	margin: auto;
	text-align:center;
	width: 75%;
}

.post
{
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-width:2px;
	border-style:solid;
	border-color:black;
	box-shadow: 5px 5px grey;
    background-color: #ffffff;
}
.post_comment
{
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-width:1px;
	border-style:solid;
	border-color:blue; 
	box-shadow: 5px 5px lightblue;
}
#title_post
{
	font-size: 1.2em;
	font-weight: bold;
}
#body_title
{
    margin: auto;
    text-align: center;
    width: 75%;
    margin-bottom: 50px;
}